{% extends "app/base.html" %}
{% block content %}

<body>
    <main>

        <section class="py-4 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">お腹すいた！</h1>
                    <p class="lead text-muted">食べたいもの、作りたいもの、あるかな</p>
                </div>
            </div>
        </section>
        
        <div class="container">

            <!-- 食べたいものリクエスト -->
            <h5 class="my-2 ml-2 text-center">★★★リクエスト★★★</h5>
                <div class="row bg-light">
                    {% if isexist_need %}
                    <!-- カードを並べる部分の作成 -->
                    <table class="table table-striped text-center table-sm align-middle">
                        <tbody>
                            {% for item in item_data %}
                            {% if item.registerer == user %}
                            {% if item.need %}
                            <div class="col-4 px-1 py-2">
                                <div class="card shadow-sm">
                                    <div class="image" width="100%" height="225">
                                        <img src = "{{ item.image.url }}" width="100%">
                                    </div>
    
                                    <div class="card-body">
                                        <p class="card-text">{{ item.item }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a class="btn btn-sm btn-outline-secondary"
                                                    href="{% url 'restock' item.id %}" role="button">ごちそうさま</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- カードの作成終わり -->
                    {% else %}
                    <div class="my-4 mx-4">
                        <h5>補充が必要なものはありません！</h5>
                    </div>
                    {% endif %}
                </div>
            <!-- 食べたいものリクエスト終わり -->


            <!-- リストに追加 -->


            <!-- <div class="row"> -->
                <div class="mb-4 pt-0">
                    {% for place in PLACES %}
                    <div class="card-body p-0 mt-3">
                        <!-- 場所（パントリー，洗面台下など）を表示 -->
                        <h5 class="my-2 ml-2 text-center">
                        ……… {{ place.1 }} ………
                        </h5>
                    </div>
                
                
                    <div class="row">
                    <!-- カードを並べる部分の作成 -->
                        <table class="table table-striped text-center table-sm">
        
                            <tbody>
                                {% for item in item_data %}
                                {% if item.registerer == user %}
                                {% if not item.need %}
                                {% if item.place == place.0 %}
                                <div class="col-4 px-1 py-2">
                                    <div class="card shadow-sm">
                                        <div class="image" width="100%" height="225">
                                            <img src = "{{ item.image.url }}" width="100%">
                                        </div>
        
                                        <div class="card-body">
                                            <p class="card-text">{{ item.item }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                        href="{% url 'addlist' item.id %}" role="button">食べたい</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            <!-- カードの作成終わり -->
                        </table>
                    </div>
                    {% endfor %}
                
                </div>
            <!-- </div> -->




            <div class="mb-4"><a class="btn btn-outline-primary" style="width:100%;"
                    href="{% url 'additem' %}">新規品目を登録</a>
            </div>

        </div>

    </main>
</body>

{% endblock %}